<template>
  <div class="home">
    <div class="text-center">
      <img alt="Vue logo" src="../assets/logo.png" />
      <h1>Welcome to Your Vue.js App</h1>
    </div>
    <b-table striped hover :items="allocations"></b-table>
  </div>
</template>


<script>
import { dataService } from "../shared";

export default {
  data() {
    return {
      allocations: []
    };
  },
  created() {
    dataService.getAllocationsDetails().then(response => {
      this.allocations = response.data;
    });
  }
};
</script>

