<template>
  <div id="app">
    <b-container>
      <Navigation></Navigation>
      <router-view />
    </b-container>
  </div>
</template>

<script>
import Navigation from "./components/Navigation";

export default {
  name: "app",
  components: {
    Navigation: Navigation
  }
};
</script>
